<%=render :partial => "shared/simple_error_message"%>
	<div id= "canvas_container" class="box" style="width: 500px">
	<canvas id="main" class="box" width="500px" height="500px">
		<script>
			Canvas.draw_background();
		</script>
		<%if @json%>
			<script>
				new Canvas(parse_json('<%=escape_javascript(@json)%>')).draw();
			</script>
		<%end%>
	</canvas>
</div>