<%=render :partial => "shared/simple_error_message"%>
<%@without_container = true%>
<div id= "canvas_container" class="box">
	<canvas id="main">
		<script>
			new Background(500,500).draw();
		</script>
		<%if @json%>
			<script>
				new Canvas(parse_json('<%=escape_javascript(@json)%>')).draw();
			</script>
		<%end%>
	</canvas>
</div>