<% if object.errors.any? %>
	<div id="error_explanation">
	  <h2><%= object.errors.count%> 個の入力エラーがあります:</h2>
	
	  <ul>
	  <% object.errors.full_messages.each do |msg| %>
	    <li><%= msg %></li>
	  <% end %>
	  </ul>
	</div>
<%end%>