<div class="navbar navbar-fixed-top">
<div class="navbar navbar-inner">
    <div class="container">
      <ul class="nav">
		<label class="brand">Filder Viewer</label>

		<li class="divider-vertical"></li>
		  <%=li_with_active(resources_path) do%>
			  <%=link_to resources_path do%>
					<i class ="icon-list icon-white"></i>
					List
				<%end%>
		  <%end%>
		</ul>
		<ul class="nav pull-right">
			<li class="dropdown">
				  <a class="dropdown-toggle btn-large" data-toggle="dropdown" href="#">
				    <i class="icon-user icon-white"></i>
				    <%=session[:user]%>
				    <b class="caret"></b>
				  </a>
				  <ul class="dropdown-menu">
				  	<li><%=link_to "ログアウト", logout_login_index_path%></li>
				  </ul>
			</li>
		</ul>
    </div>
</div>
</div>