body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding-top: 90px; 
  background:-webkit-gradient(linear, 0% 23%, 0% 99%, from(#000000), to(#2A2828)); 
  }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000;
  &:hover {
     } }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }
    
.box{
  text-align:left;
  margin:0px auto;
}

canvas#main{
    -moz-box-shadow: 0px 3px 30px #000000;
    -webkit-box-shadow: 0px 3px 30px #000000;
    box-shadow: 0px 3px 30px #000000;
}

#notice {
  color: green; }

.submit{
  margin: 9px 0px;
}

.field_with_errors {
  padding: 2px;
  background-color: #f2dede;
  border: 2px solid #fc6565;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  color: #b94a48;
  display: table; }

#error_explanation {
  border: 2px solid #fc6565;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #d15050;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }
